/* Tela branca */
body {
  font-family: 'Arial', sans-serif;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.game {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
}

.game-board {
  margin-right: 20px;
}

.game-info {
  margin-left: 20px;
}

ol {
  padding-left: 20px;
}

li {
  list-style: decimal;
  margin-bottom: 10px;
}

button {
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 5px;
  border: 1px solid #999;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

button:focus {
  outline: none;
}

.board-row {
  display: flex;
}

.square {
  width: 150px;
  height: 150px;
  background-color: #fff;
  border: 2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.square:hover {
  background-color: #ddd;
}

/* Estilos para X e O usando imagens */
.square.x {
  background-image: url('./images/cross.png'); /* Imagem de X */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.square.o {
  background-image: url('./images/circle.png'); /* Imagem de O */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.game-info > div {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: red;
}

.winner {
  color: purple;
}
